<!--<div class="container container-background">-->
<!--  <div class="row">-->

<!--    <nav class="navbar navbar-expand-lg bg-body-tertiary">-->
<!--      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-palette-fill" viewBox="0 0 16 16">-->
<!--        <path d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>-->
<!--      </svg>-->
<!--      <div class="container-fluid">-->
<!--        <a class="navbar-brand" href="#">Dashboard</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--          <ul class="navbar-nav">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" aria-current="page" href="#">Clients</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Sales</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">Pricing</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link">Reviews</a>-->
<!--            </li>-->
<!--            <li class="nav-item dropdown">-->
<!--              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                Dropdown link-->
<!--              </a>-->
<!--              <ul class="dropdown-menu">-->
<!--                <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--  <hr>-->
<!--  <div class="col-md-12 button-flex">-->
<!--    <div>-->
<!--      <button type="button" class="btn btn-link go-back-link">-->
<!--        <svg style="margin-right: 5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">-->
<!--          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>-->
<!--        </svg>-->
<!--        Go Back</button>-->
<!--    </div>-->

<!--    <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--      <button class="btn btn-danger me-md-2" type="button">Delete</button>-->
<!--      <button class="btn btn-secondary" type="button">Preview on Website</button>-->
<!--      <button class="btn btn-secondary me-md-2" type="button">Duplicate</button>-->
<!--      <button class="btn btn-secondary" type="button">Create new Product</button>-->
<!--    </div>-->
<!--  </div>-->

<!--&lt;!&ndash;    <div class="d-grid gap-2 d-md-flex justify-content-md-end">&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="btn btn-danger me-md-2" type="button">Delete</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="btn btn-secondary" type="button">Preview on Website</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="btn btn-secondary me-md-2" type="button">Duplicate</button>&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="btn btn-secondary" type="button">Create new Product</button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--  <hr>-->
<!--  <h3>-->
<!--    Creating new Product-->
<!--  </h3>-->
<!--  <hr>-->
<!--  <div class="row parent-border-block">-->
<!--    <div class="col-md-5 border-block">-->

<!--      <div class="mb-3">-->
<!--        <label for="formGroupExampleInput" class="form-label"><h6>Product Name</h6></label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">-->
<!--      </div>-->
<!--      <h6>Comments</h6>-->
<!--      <div class="form-floating">-->
<!--        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>-->
<!--        <label for="floatingTextarea2">Type Comments here</label>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <label for="exampleDataList" class="form-label">Datalist example</label>-->
<!--      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">-->
<!--      <datalist id="datalistOptions">-->
<!--        <option value="San Francisco">-->
<!--        <option value="New York">-->
<!--        <option value="Seattle">-->
<!--        <option value="Los Angeles">-->
<!--        <option value="Chicago">-->
<!--      </datalist>-->
<!--      <br>-->
<!--      <label for="exampleDataList" class="form-label">Datalist example</label>-->
<!--      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">-->
<!--      <datalist id="datalistOptions">-->
<!--        <option value="San Francisco">-->
<!--        <option value="New York">-->
<!--        <option value="Seattle">-->
<!--        <option value="Los Angeles">-->
<!--        <option value="Chicago">-->
<!--      </datalist>-->
<!--&lt;!&ndash;      <hr>&ndash;&gt;-->

<!--&lt;!&ndash;      <div class="mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="formGroupExampleInput" class="form-label"><h6>Product Name</h6></label>&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <h6>Comments</h6>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="form-floating">&ndash;&gt;-->
<!--&lt;!&ndash;        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;        <label for="floatingTextarea2">Type Comments here</label>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

<!--    </div>-->

<!--    <div class="col-md-5 border-block">-->
<!--      <div class="mb-3">-->
<!--        <label for="formGroupExampleInput" class="form-label">Example label</label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="formGroupExampleInput2" class="form-label">Another label</label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">-->
<!--      </div>-->

<!--      <div class="mb-3">-->
<!--        <label for="formGroupExampleInput" class="form-label">Example label</label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="formGroupExampleInput2" class="form-label">Another label</label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="formGroupExampleInput2" class="form-label">Another label</label>-->
<!--        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <div class="d-grid gap-2 d-md-flex justify-content-md-end">-->
<!--    <button class="btn btn-success me-md-2" type="submit">Save</button>-->
<!--    <button class="btn btn-warning" type="reset">Reset</button>-->
<!--  </div>-->
<!--  <hr>-->
<!--</div>-->


<div class="container container-background">
  <div class="row">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-palette-fill"
           viewBox="0 0 16 16">
        <path
          d="M12.433 10.07C14.133 10.585 16 11.15 16 8a8 8 0 1 0-8 8c1.996 0 1.826-1.504 1.649-3.08-.124-1.101-.252-2.237.351-2.92.465-.527 1.42-.237 2.433.07zM8 5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm4.5 3a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zM5 6.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm.5 6.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
      </svg>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Reviews</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Dropdown link
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <hr>
  <div class="col-md-12 button-flex">
    <div>
      <button type="button" class="btn btn-link go-back-link">
        <svg style="margin-right: 5px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        Go Back
      </button>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-secondary" type="button">Preview on Website</button>
      <button class="btn btn-secondary me-md-2" type="button">Duplicate</button>
      <button class="btn btn-secondary" type="button">Create new Product</button>
    </div>
  </div>

  <hr>
  <h3>
    Creating new Product
  </h3>
  <hr>


  <form #productForm="ngForm" (ngSubmit)="onProductCreate(productForm.value)">
    <div class="row parent-border-block">
      <div class="col-md-5 border-block">
        <div class="mb-3">
          <label for="formGroupExampleInput6" class="form-label"><h6>Product Name</h6></label>
          <input type="text" class="form-control" id="formGroupExampleInput6"
                 placeholder="Type name here...">
        </div>

        <div class="mb-3">
          <label for="formGroupExampleInput7" class="form-label">Product Price $</label>
          <input ngModel name="price" type="text" class="form-control" id="formGroupExampleInput7"
                 placeholder="...">
        </div>

        <h6>Comments</h6>
        <div class="form-floating">
          <textarea ngModel name="note" class="form-control" placeholder="Leave a comment here"
                    id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Type Comments here...</label>
        </div>
      </div>


      <div class="col-md-5 border-block">
        <div class="mb-3">
          <label for="formGroupExampleInput8" class="form-label">Product Vendor Code</label>
          <input type="text" class="form-control" id="formGroupExampleInput8" placeholder="...">
        </div>

        <label for="exampleDataList1" class="form-label">Select Provider</label>
        <input class="form-control" list="datalistOptions1" id="exampleDataList1" placeholder="...">
        <datalist id="datalistOptions1">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="none">
        </datalist>
        <br>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Quantity in Stock</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="...">
        </div>

        <label for="exampleDataList2" class="form-label">Select Сategories</label>
        <input class="form-control" list="datalistOptions2" id="exampleDataList2" placeholder="...">
        <datalist id="datalistOptions2">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="none">
        </datalist>

        <div class="mb-3">
          <label for="formGroupExampleInput4" class="form-label">Discount</label>
          <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="...">
        </div>

        <label for="exampleDataList3" class="form-label">Select Label</label>
        <input class="form-control" list="datalistOptions3" id="exampleDataList3" placeholder="...">
        <datalist id="datalistOptions3">
          <option value="NEW">
          <option value="TOP SALES">
          <option value="DEAL">
          <option value="none">
        </datalist>
      </div>

    </div>
    <hr>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
<!--      Send put request-->
      <button class="btn btn-light me-md-2" type="submit">Save</button>
<!--      Send post request-->
      <button class="btn btn-success me-md-2" type="submit">Create</button>
<!--      Delete form field-->
      <button class="btn btn-warning" type="reset">Reset</button>
      <!--      Delete product by id-->
      <button class="btn btn-danger" type="reset">Delete</button>
    </div>

  </form>

  <hr>
</div>
