<div style="width: 100%; display: flex; justify-content: space-between">

  <div class="box">
    <h4 class="box-header">Category List</h4>
    <ul class="directory-list" *ngFor="let mainCategory of this.categoryTree.data">
      <li>
        <span (click)="fetchAndSaveCategory(mainCategory._id)" class="interactive" tabindex="1">{{mainCategory.name.uk}}</span>
        <ul>
          <li *ngFor="let child of mainCategory.children">
            <span (click)="fetchAndSaveCategory(child._id)" class="interactive" tabindex="1">{{child.name.uk}} </span>
            <ul>
              <li *ngFor="let grandChild of  child.children">
                <span (click)="fetchAndSaveCategory(grandChild._id)" class="interactive" tabindex="1">{{grandChild.name.uk}}</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>


  <div class="category-detail">

  <div class="row">
    <form (ngSubmit)="onCategorySave()">
      <div class="flex-list ">
        <h3 *ngIf="currentURL ==='/admin/category/add'">
          Creating new Category
        </h3>
        <h3 *ngIf="currentURL !=='/admin/category/add'">
          Category Detail
        </h3>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end base-bottoms-margin">
          <button class="btn joinBtn" type="submit">Save</button>
          <button
            class="btn joinBtnDel"
            type="reset"
            (click)="onCategoryDelete()">Delete
          </button>
        </div>
      </div>

      <hr>

      <div class="row parent-border-block">
        <div class="col-md-5">
          <p *ngIf="currentURL !=='/admin/category/add' && currentURL !=='/admin/category'">{{this.category._id}}</p>
          <div class="mb-3">
            <label for="categoryNameUk" class="form-label">Category Name</label>
            <p>uk:</p>
            <input
              ngModel
              name="categoryNameUK"
              [(ngModel)]="this.category.name.uk"
              type="text"
              class="form-control"
              id="categoryNameUk">

            <label for="categoryNameEn" class="form-label"></label>
            <p>en:</p>
            <input
              ngModel
              name="categoryNameEn"
              [(ngModel)]="this.category.name.en"
              type="text"
              class="form-control"
              id="categoryNameEn">
          </div>
          <br>


          <div style="width: 550px;">
            <h6>
              Uk:
            </h6>
            <editor style=" border: solid gray 1px"
                    apiKey="wc69sxdifny51wbu6d3n53fuzeselpnsvmtttafn1yvu1nvl"
                    ngModel
                    name="descriptionCategory1"
                    [(ngModel)]="this.category.description.uk"
                    class="form-control"
                    id="descrUk"
                    [init]="{
              icons: 'material',
              skin: 'borderless',
              plugins: 'wordcount',
              menubar: false,
              min_height: 150
            }"
            ></editor>

            <br>
            <h6>
              En:
            </h6>
            <editor style=" border: solid gray 1px"
                    apiKey="wc69sxdifny51wbu6d3n53fuzeselpnsvmtttafn1yvu1nvl"
                    ngModel
                    name="descriptionCategory2"
                    [(ngModel)]="this.category.description.en"
                    class="form-control"
                    id="descrEn"
                    [init]="{
              icons: 'material',
              skin: 'borderless',
              plugins: 'wordcount',
              menubar: false,
              min_height: 150
            }"
            ></editor>
          </div>

          <br>

      </div>

        <hr>

        <h6>URL Address</h6>
        <div class="form-floating">
          <label for="categorySlug" class="form-label"></label>
          <textarea
            ngModel
            name="categorySlug"
            [(ngModel)]="this.category.slug"
            class="form-control"
            id="categorySlug"
            style="height:70px"></textarea>
        </div>
      </div>




      <hr>




      <div  style="display:flex; justify-content: space-between; margin-bottom: 15px; ">
        <div style="width: 50%">
          <h4 style="text-align: center;">
            Images
          </h4>
        </div>

        <div style="width: 50%">
          <h4 style="text-align: center;">
            Description editor
          </h4>
        </div>
      </div>

      <hr>

      <div style="display:flex; justify-content: space-between">

        <div class="grid-wrapper">
          <div *ngFor="let imageMedia of category.medias; let i = index;">
            <div class="image-container" style="position: relative">

              <img class="template-block img-block"
                   src="{{imageMedia.variantsUrls.small}}"
                   alt="{{imageMedia.altText}}">
              <div style="position: absolute;">
                <button *ngIf="i>0" (click)="onLeftMove(i)" class="move-arrows" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-caret-left" viewBox="0 0 16 16">
                    <path
                      d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/>
                  </svg>
                </button>
                <button *ngIf="i !== category.medias.length-1" (click)="onRightMove(i)" class="move-arrows" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-caret-right" viewBox="0 0 16 16">
                    <path
                      d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/>
                  </svg>
                </button>
              </div>
            </div>

            <div class="image-container">
              <svg (click)="onDeleteImage(i)" style="cursor: pointer; margin-top: 5%" xmlns="http://www.w3.org/2000/svg"
                   width="16" height="16" fill="grey" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                <path
                  d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
              </svg>
            </div>

          </div>

          <div class="image-container">
            <label class="template-block upload-block" for="imageUpload">
              <input style="display: none;" id="imageUpload" type="file" (change)="onFileSelected($event)">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="grey"
                   class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
                <path
                  d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"/>
                <path
                  d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
              </svg>
            </label>
          </div>
        </div>


      </div>

      <hr>
    </form>
  </div>


</div>
</div>

<hr>
