<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product List</title>
</head>
<body>
<hr>

<div class="flex-list">
  <h3>
    Products
  </h3>
  <div class="paging">
    <button [ngClass]="{visibilityHidden: this.page === 1}" (click)="onGettingPreviousPage()" type="button"
            class="btn btn-link"><
    </button>
    <div>Page<span><b> {{ this.page }} </b></span> of
      <span><b>{{ this.pagesTotal }}</b></span></div>
    <button [ngClass]="{visibilityHidden: this.page  >= this.pagesTotal}"
            (click)="onGettingNextPage()" type="button" class="btn btn-link">>
    </button>
  </div>


  <div class="flex-list">
    <p class="margin">Items on Page</p>
    <select (change)="fetchAndSaveResponseData()"
            ngModel name="limit"
            [(ngModel)]="this.limit"
            class="form-select form-control"
            aria-label="Default select example"
            style="width: 80px;">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
      <option value="250">250</option>
      <option value="500">500</option>
    </select>
  </div>

  <p>Total goods: <b>{{this.itemsTotal}}</b>;</p>
  <p>Filtered: <b>{{this.itemsFiltered}}</b>;</p>


  <button
    class="btn btn-light"
    type="reset"
    (click)="onFiltersReset()">Reset all Filters
  </button>

</div>


<hr>
<table class="table">
  <thead>

  <tr>
    <th style="vertical-align: text-top;" scope="col">Image</th>
    <th scope="col">
      <span (click)="onSortByID()" style="cursor: pointer"> ID

     <svg *ngIf=" this.sort === '_id' && this.direction === 'desc'"
          xmlns="http://www.w3.org/2000/svg" width="16"
          height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
      </svg>
      <svg *ngIf="this.sort === '_id' && this.direction === 'asc'"
           xmlns="http://www.w3.org/2000/svg" width="16"
           height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
      </svg>

    </span>
      <div style="width: 60px">
        <label for="idToSearch" class="form-label"></label>
        <input  class="form-control" id="idToSearch">
      </div>
    </th>


    <th scope="col">
      <span (click)="onSortByName()" style="cursor: pointer"> Name

        <svg *ngIf="this.sort === 'name.uk' && this.direction === 'desc'"
             xmlns="http://www.w3.org/2000/svg" width="16"
             height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
      </svg>
      <svg *ngIf="this.sort === 'name.uk' && this.direction === 'asc'"
           xmlns="http://www.w3.org/2000/svg" width="16"
           height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
      </svg>

      </span>

      <div style="width: 150px">
        <label for="nameToSearch" class="form-label"></label>
        <input (input)="fetchAndSaveResponseData()" ngModel name="sortByName"
               [(ngModel)]="this.searchString" class="form-control" id="nameToSearch">
      </div>
    </th>


    <th scope="col">
      <span (click)="onSortByPrice()" style="cursor: pointer"> Price $

        <svg *ngIf="this.sort === 'price' &&  this.direction === 'desc'"
             xmlns="http://www.w3.org/2000/svg" width="16"
             height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
      </svg>
      <svg *ngIf="this.sort === 'price' && this.direction === 'asc'"
           xmlns="http://www.w3.org/2000/svg" width="16"
           height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
              d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
      </svg>

      </span>


      <div style="width: 100px">
        <label for="priceToSearch" class="form-label"></label>
        <input class="form-control" id="priceToSearch">
      </div>
    </th>
  </tr>

  </thead>

  <tbody>

  <tr (click)="onGetProductDetail(productListItem._id)" style="cursor: pointer;" *ngFor="let productListItem of this.productList;">
    <th  scope="row">
      <img style="height: 50px; width: 50px;" src="{{productListItem.medias[0]?.variantsUrls?.small}}" alt="{{productListItem.medias[0]?.altText}}" (error)="onImageError($event)">
    </th>
    <td>{{productListItem._id}}
    </td>
    <td>{{productListItem.name.uk}}</td>
    <td>{{productListItem.price}}</td>
  </tr>

  </tbody>
</table>


</body>
</html>
