/* You can add global styles to this file, and also import other style files */
.body {
  background-color: white;
}

.container-background {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 2px 2px grey;
}
.parent-border-block {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.border-block {
  padding: 25px 50px;
}

.flex-list {
  display: flex;
  justify-content: space-between;
}

.base-link {
  text-decoration: none;
  color: black;
  }

.base-item {
  text-decoration: none;
  display: flex;
  align-items: center;
}


