/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;
}


.container-background {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}

.parent-border-block {
  display: flex;
  justify-content: space-between;
}


.flex-list {
  max-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.margin {
  margin-right: 5px;
}

.base-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.base-item {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.base-padding {
  padding-left: 60px;
  padding-right: 60px;
}

textarea:hover {
  background-color: aliceblue;
}

input:hover {
  background-color: aliceblue;
}

.paging {
  display: flex;
  align-items: center;
}

.visibilityHidden {
  visibility:hidden;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*grid-column-gap: 10px;*/
  width: 550px;
  height: fit-content;
  grid-row-gap: 2em;
}

.image-container {
  display: flex;
  justify-content: center;

}

.template-block {
  width: 180px;
  height: 145px;
  display: flex;
  border: solid grey 1px;
}

.upload-block {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-block {
  padding: 10px;
}

.joinBtn {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.joinBtnDel {
  width: 10em;
  height: 5ex;
  background-image: linear-gradient(135deg, #cc351a 40%, #f1b828);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.joinBtn:active {
  box-shadow: 2px 2px 5px #fc894d;
}

.move-arrows{
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
}
.move-arrows:hover{
  background-color: #f1b828;
}

.move-arrows:active {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.57);
}
