/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;
  margin: 40px 0 40px 0;
}


.container-background {
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
}
.parent-border-block {

  display: flex;
  justify-content: space-between;
}


.flex-list {
  display: flex;
  justify-content: space-between;
}

.base-link {
  text-decoration: none;
  color: black;
  }

.base-item {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.base-padding {
  padding-left: 60px;
  padding-right: 60px;
}

/*.base-bottoms-margin {*/
/*  margin: 40px 0 40px 0;*/
/*}*/

textarea:hover {
  background-color: aliceblue;
}

input:hover {
  background-color: aliceblue;
}
